@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@media (max-width: 599px) {
    .containerProjets {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-content: center;
        align-content: center;
        flex-direction: column;
        padding: 10px;
        align-content: center;
        font-family: 'Calligraffitti', cursive;
    }
    .card {
        border: black 3px solid;
        padding: 10px;
        background-color: #828756;

        border-radius: 30px;
        text-align: center;
        font-family: 'Calligraffitti', cursive;
    }
}
@media (min-width: 600px) {
    .containerProjets {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-content: center;
        padding: 10px;
        align-content: center;
        font-family: 'Calligraffitti', cursive;

    }
    .card {
        border: #e5abab 3px solid;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 30px;
        text-align: center;
        font-family: 'Calligraffitti', cursive;
    }
}