@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@media (max-width: 599px) {
    .containerProjets {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-content: center;
        background-color: #b2eaa1;
        flex-direction: column;
        padding: 10px;
        align-content: center;
        font-family: 'Calligraffitti', cursive;
    }
}
@media (min-width: 600px) {
    .containerProjets {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-content: center;
        background-color: #e4dbab;
        padding: 10px;
        align-content: center;
        font-family: 'Calligraffitti', cursive;

    }
}