@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');


.container{
    margin: 5px;
    padding: 5px;
    flex: 1;
    background-color: #353432;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Calligraffitti', cursive;
    align-items: center;
}
.container div{
    flex: auto;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
.nom, .prenom{
    color: white;
}

.titrecv{
    flex: auto;
    color: red;
}
.java{
    align-items: center;
    margin-bottom: 10px;
}